@using NeMobileBg.Common.Models.Cars;
@model IEnumerable<CarsSearchResponseModel>

<link rel="stylesheet" href="~/css/searchresult.css" />

@{
    ViewData["Title"] = "Cars Search Results";

    string ConvertByteArrayToBase64(byte[] byteArray)
    {
        if (byteArray != null)
        {
            return Convert.ToBase64String(byteArray);
        }
        return string.Empty;
    }
}
<div class="container-fluid">
    <div class="row">
        @foreach (var car in Model)
        {
            <div class="col-12 mb-4 hoverable-element">
                @if (User.Identity.IsAuthenticated && car.OwnerId == ViewBag.UserId)
                {
                    <a asp-controller="Cars" asp-action="Edit" asp-route-id="@car.CarId" class="btn btn btn-outline-info float-end">Edit</a>
                }
                <div class="card card-horizontal">
                    <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.CarId" class="stretched-link"></a>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="data:image/jpeg;base64,@ConvertByteArrayToBase64(car.ImageUrl)" class="card-img-top hoverable-element" alt="Vehicle Image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@($"{car.Make} {car.Model}")</h5>
                                <p class="card-text">@car.Description</p>

                                <div class="col-md-6">
                                    <p class="card-text">@($"Year: {car.Year}")</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="card-text">@($"Category: {car.Category}")</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="card-text">@($"Gearbox: {car.Gearbox}")</p>
                                </div>
                                <div class="price-top">
                                    <p class="card-text">@($"Price: {car.Price:C0}")</p>
                                </div>

                                <div class="created-bottom">
                                    <p class="card-text small-text">@($"Created On: {car.CreatedOn}")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
